/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #313639;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Lato', sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body{
    font-family: 'Lato', sans-serif;
}















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*
 * End CSS Helpers.
 */
 
.projects img{
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 5px;
 }

.header-container{
    width: auto!important;
    min-height: 50px;
    
} 

.bar{
    height: 20px;
    background-color: #bdb381;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23fffff0' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.header-inner{
    background-color: black;
    color: #bdb381;
    height: 180px;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23949494' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    /*float: left;*/
    /*display: inline-flex;*/
}

.items-left, .header-name, .items-right{
    padding-top: 60px;
    text-align: center;
    display: inline-block;
}

.items-left a, .items-right a{
    padding-left: 10px;
}

.items-left a:hover, .items-right a:hover{
    /*make me underline*/
}

.header-inner a{
    color: #bdb381;
}
.header-inner a:hover{
    text-decoration: none;
    color: white;
}

/*.items-left{*/
/*    float: left;*/
/*    padding-right: 30vw;*/
/*}*/

/*.items-right{*/
/*    float: right;*/
/*}*/

.header-name .name{
    font-size: 22px;
}

.header-name .mm{
    -webkit-transform: rotate(-20deg); 
    -moz-transform: rotate(-20deg); 
    text-decoration: underline;
    position: relative;
    font-style: oblique;
    /*left: 388px;*/
    top: -15px;
    margin-bottom: -10px;
}

.header-name hr{
    content: "";
	flex-grow: 1;
	background: #bdb381;
	height: 0.2px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px -10px;
}

.ivy{
    background-color: #fffff0;
    padding-top: 25px;
    padding-bottom: 25px;
}

.intro .side{
    font-family: 'Concert One';
    font-size: 45px;
    /*-webkit-transform: rotate(-10deg); */
    /*-moz-transform: rotate(-10deg); */
    padding-bottom: 10px;
}

.container-portfolio .intro {
    /*background-color: #f0ead6;*/
    padding-top: 50px;
    text-align: center;
    text-transform: uppercase;
}

.content{
    width: auto!important;
    background-color: #f0ead6;
    /*background-color: #fffff0;*/
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23fffff0' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.intro-port{
    text-align: center;
}

.projects{
    text-align: center;
    padding-bottom: 30px;
}

.projects .col{
    padding-top: 10px!important;
    border: 1px solid #CFB53B !important;
    padding: 0.01em 16px;
    /*border-radius: 16px;*/
    margin-left: 3px!important;
    margin-top: 3px!important;
    background-color: #fffff0;
}

.h4, h4{
    /*border: 1px solid #C3A82C !important;*/
    /*background-color: #C3A82C;*/
    /*border-right-width: 1px;*/
    /*border-bottom-width: 1px;*/
    /*border-left-width: 1px;*/
}

.intro-port p{
    text-transform: uppercase;
    letter-spacing: 3px;
}

.projects a:hover{
    text-decoration: none;
    color: black;
}

.projects a{
    color: black;
}

.footer{
    background-color: black;
    color: #bdb381;
    height: 100px;
    /*float: left;*/
    /*display: inline-flex;*/
}

.copyfoot{
    text-align: center;
    padding-top: 3px;
    font-size: 10px;
    line-height: 1px;
}

.react:not(:disabled):not(.disabled) {
    cursor: default;
}
.react:hover {
    color: #FFF;
    opacity: 0.9;
}
.react:focus, .react:hover {
    text-decoration: none;
}
.react {
    margin: 4px 2px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -moz-user-select: none;
    color: #FFF;
    background-color: #bdb381;
    border-color: #bdb381;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.2;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.fab, .fa-envelope, .fal, .far{
    color: #bdb381;
    padding-left: 5px;
}
.social a{
    text-decoration: none;
    color: #bdb381;
    padding-left: 5px;
}

.social{
    text-align: center;
    padding-top: 32px;
}

.build{
    text-align: right;
    padding-top: 18px;
}

.build p{
    font-size: 13px;
    margin-bottom: -2px;
}

.about img{
    max-width: 600px;
    display: inline-block;
}    

.bio{
    text-transform: lowercase!important;
}

.username{
    text-transform: lowercase!important;
    transform: translateY(-45px);
}

.bio a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.bio a:hover {
    text-decoration: none;
    color: black;
}

.ivy ul{
    text-align: left!important;
}

.subhead{
    text-align:left;
    font-size: 0.9em;
    margin-left: 1.4em;
    /*text-indent: -1.4em;*/
    margin: 0;
    padding: 0;
    line-height: 1;
}

.subtext{
    font-size: 0.7rem;
    text-align:left;
    color: grey;
    text-indent: 1.9rem;
}

.red{
    color: red;
    font-size: 22px;
    vertical-align: middle;

}
.green{
    color: green;
    font-size: 22px;
    vertical-align: middle;
}

.subquestions{
    padding-top: 80px;
}

.resume{
    color: black;
    margin-bottom: -20px;
}

.resume a {
    text-decoration: none;
    color: black;
}

.resume a:hover{
    text-decoration: none;
    color: black;
}

.contact{
    height: 100vh;
    background-color: #fffff0;
}
