 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>When I began learning how to write code I became obsessed and learned things that I previously thought would take years to get a hang of, now I spend as much of my time as possible honing and adding new skills to continuously improve the craft.</p>
                </div>
                <div class="col-lg-4">
                    <p>There's a deep satisfaction that goes with opening up a text editor to build something, to see it go from concept in to something functional and practical.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                </div>
            </div>
        </div>
    </section>
